@font-face {
  font-family: 'GothaProBla';
  font-style: normal;
  src: url(../fonts/GothaProBla.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProBlalta';
  font-style: normal;
  src: url(../fonts/GothaProBlalta.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProBol';
  font-style: normal;
  src: url(../fonts/GothaProBol.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProBollta';
  font-style: normal;
  src: url(../fonts/GothaProBollta.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProlta';
  font-style: normal;
  src: url(../fonts/GothaProlta.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProLig';
  font-style: normal;
  src: url(../fonts/GothaProLig.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProLiglta';
  font-style: normal;
  src: url(../fonts/GothaProLiglta.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProMed';
  font-style: normal;
  src: url(../fonts/GothaProMed.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProMedlta';
  font-style: normal;
  src: url(../fonts/GothaProMedlta.otf) format('otf');
  }

@font-face {
  font-family: 'GothaProReg';
  font-style: normal;
  src: url(../fonts/GothaProReg.otf) format('otf');
  }
