@mixin icon-left {
  display: block;
  background: url('../img/sprites/sprite.png') no-repeat;
  width: 42px;
  height: 42px;
  margin-top: 15px;
}

@mixin icon-right {
  display: block;
  background: url('../img/sprites/sprite.png') no-repeat;
  width: 30px;
  height: 35px;
  margin-top: 20px;
  background-position: 0 -134px;
}

@mixin recall-before {
  &::before {
    content: '';
    background-image: url('../img/sprites/sprite.png');
    background-position: 0 -17px;
    height: 20px;
    width: 30px;
    margin-bottom: 15px;
    display: block;
  }

  &:hover::before {
    background-position: 0 0;
  }
}

@mixin recall-bold {
  &::before {
    content: '';
    background-image: url("../img/leftPhoto.png");
    width: 50px;
    height: 50px;
    display: block;
  }
  &:hover {
    cursor: pointer;
    color: #a70c5d;
  }
}

@mixin footer-links {
  display: block;
  background: url('../img/sprites/sprite.png') no-repeat;
  width: 41px;
  height: 40px;
  margin-top: 20px;
  background-position: 0 -303px;
  margin-right: 5px;
}
